<?xml version="1.0"?>

<launch>

  <arg name="version" default="V40" />
  <arg name="frame" value="map"/>
  <!-- <arg name="child_frame" value="body"/> -->
  <arg name="child_frame" value="base_link"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nao_description)/urdf/nao$(arg version)_generated_urdf/nao_robot.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />
  <!-- complete robot model with base_footprint (necessary?)-->
  <node name="base_footprint" pkg="nao_description" type="base_footprint" />

  <node name="robot_pose_publisher" pkg="nao_oscr" type="robot_pose_publisher"
        args="_frame:=$(arg frame) _child_frame:=$(arg child_frame)">
  </node>

  <arg name="config_file" value="$(find nao_oscr)/config/nao-floating.rviz"/>
  <node name="rviz_display" pkg="rviz" type="rviz" respawn="false"
        output="screen" args="-d $(arg config_file)" />
  <node name="floor_publisher" pkg="nao_oscr" type="floor_publisher"
        respawn="false" />
</launch>
